########################################
# my (i.e. sboosali's) local files
ignore/
secret/*
private/

########################################
# nix
result
result-*

########################################
# Emacs
\#*\#
*~
*.log

# Emacs: `savehist`
savehist.el

# Emacs: `desktop`
.emacs.desktop
.emacs.desktop.lock

# Emacs: `ido`
ido.last

# Emacs: `bookmarks`
./bookmarks
bookmarks.el

# Emacs: `YASnippet`
.yas-compiled-snippets.el

# Emacs: miscellaneous
# (miscellaneous state stored in .emacs.d/ by default)
./packages/
auto-save-list/
backups/
elpa/
places
tramp
.smex-items
smex-items
.abbrev_defs
saved-places
eshell/history
session.*
.emacs-buffers
recentf

########################################
# Haskell

########################################
# OS X
.DS_Store

########################################