########################################
# Mine.
########################################
# my (i.e. sboosali's) local files

.sboo/

ignored/
temporary/

secret/
private/

########################################
# nix
########################################

result
result-*

########################################
# Emacs
########################################

########################################
# tempory files

*~
.\#*
*.log
\#*\#

########################################
# development

*.elc
.cask/

########################################
# `savehist
savehist.el
history

########################################
# `desktop`

.emacs.desktop
.emacs.desktop.lock

########################################
# `eshell`

eshell/

########################################
# `ido`
ido.last

########################################
# `bookmarks`
./bookmarks
bookmarks.el

########################################
# `YASnippet`
.yas-compiled-snippets.el

########################################
# `window-purpose`
*.window-layout

########################################
# Miscellaneous
# (miscellaneous state, stored in .emacs.d/ by default)

./packages/
auto-save-list/
backups/
elpa/
places
tramp
.smex-items
smex-items
.abbrev_defs
saved-places
eshell/history
session.*
.emacs-buffers
recentf
.cache/

########################################
# Haskell
########################################

########################################
# new cabal

dist-newstyle/
dist-*

.ghc.environment.*
cabal.project.local

########################################
# stack

.stack-work/

########################################
# old cabal

dist/
.cabal-sandbox/
cabal.sandbox.config
cabal.config

########################################
# source files

*.o
*.hi
*.chi
*.chs.h

########################################
# (tool-)generated files

report.html

########################################
# Miscellaneous.

.styx/

########################################
# OS X
########################################

.DS_Store

########################################
########################################
