########################################
# my (i.e. sboosali's) local files

.sboo/

ignore/
temporary/

secret/*
private/

########################################
# nix

result
result-*

########################################
# Emacs
\#*\#
*~
*.log

# Emacs: `savehist`
savehist.el

# Emacs: `desktop`
.emacs.desktop
.emacs.desktop.lock

# Emacs: `ido`
ido.last

# Emacs: `bookmarks`
./bookmarks
bookmarks.el

# Emacs: `YASnippet`
.yas-compiled-snippets.el

# Emacs: miscellaneous
# (miscellaneous state stored in .emacs.d/ by default)
./packages/
auto-save-list/
backups/
elpa/
places
tramp
.smex-items
smex-items
.abbrev_defs
saved-places
eshell/history
session.*
.emacs-buffers
recentf

########################################
# Haskell

.ghc.environment.*
cabal.project.local
*.o
*.hi
*.chi
*.chs.h
report.html
.cabal-sandbox/
cabal.sandbox.config
cabal.config
dist-newstyle/
dist/
.stack-work/
.styx/

########################################
# OS X
.DS_Store

########################################